<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
                <a class="nav-item  nav-link " href="/">Add book</a>
    
                    <a class="nav-item nav-link " href="/view">View books</a>
              </nav>
              <div class="container">
                  <div class="row">
                  <div class ="col-lg-6">
                                 
                         <% for (var i=0;i<name.length;i++){%>
                             <div class="card text-white bg-secondary mb-3"  style="width: 20rem;">
                                    <img  src="<%=name[i].picture%>" alt="Card image cap" style="width:50% ;height:75%">
                              <div class="card-body">
                              <h3><%=name[i].title%></h3>
                        
                             <h3><%=name[i].genre%></h3>
                             <h3><%=name[i].author%></h3>
                             <h3><%=name[i].DOP%></h3>
                             <h3><%=name[i].price%></h3>
                             <h5><%=name[i].description%></h5>
</div></div><%}%>  
                  </div>  
                  
              
        
               
               <div class="col-lg-6 ">
                 <% for (var i=0;i<book.length;i++){%>
                 <div class ="card text-white bg-secondary mb-3" style="width: 20rem;">
                        <img  src="<%=book[i].picture%>" alt="Card image cap" style="width:50% ;height:75%">
                 <div class ="card-body">
                 <h3><%=book[i].title%></h3>
                 <h3><%=book[i].genre%></h3>
                 <h3><%=book[i].author%></h3>
                 <h3><%=book[i].DOP%></h3>
                 <h3><%=book[i].price%></h3>
                 <h5><%=book[i].description%></h5>
                 </div>
                 </div>
                 <%}%>
                 </div>
                 </div>
                 </div>
                 
</body>
</html>